
/*Style for the background */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    /* background-image: linear-gradient(rgba(9, 125, 59, 0.5), rgba(153, 230, 187, 0.5)),
                  url("../images/ccicon1024.png"); */
    background-image: url("../images/tiletest.png");
    background-repeat: repeat;
    text-align: center;
                } 
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #005D3C;
    font-family: Arial;
	width: auto;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 20px;
    color: rgb(27, 25, 25);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(2, 33, 15);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(7, 133, 72);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(112, 152, 124, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(21, 20, 20);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #b2e4bd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* =============================================
* RADIO BUTTONS
=============================================== */

#radios label {
  cursor: pointer;
  position: relative;
}

#radios label + label {
  margin-left: 10px;
}

input[type="radio"] {
  opacity: 0; /* hidden but still tabable */
  position: absolute;
}

input[type="radio"] + span {
  /* font-family: 'Material Icons'; */
  color: #000000;
	font-size:14pt;
  border-radius: 20%;
  padding: 12px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

input[type="radio"]:checked + span {
  color: #ffffff;
  background-color: #026736;
}

input[type="radio"]:focus + span {
  color: #fff;
}


.tutorials{
	width:100%;
    text-align: center;
    background-color: #005D3C;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
	border-style: solid;
		border-width: thin;
border-color: white;
    font-size: 12pt;
}

.loginbuttons {
    width: 100%;
    border-style: solid;
	border-color: green;
	border-width: thick;
    text-align: center;
    font-size: 12pt;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    color: black;
}
input[type=submit] {
  background-color:  #71b894;
  border: 1;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1b9a41;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 1 black;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
 
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}
/*/style for tables */

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  border: 1px solid black;
  padding: 20px;
}